.conteiner{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.logo{
    width: 50px;
    height:50px;
   
}
.menu{
    display: flex;
    align-items: center;
    font-size: 20px;
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
    padding: 0 20px;
}
.conteiner button{
    background: white;
    border: none;
    color: orange;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid orange;
    font-size: 20px;

    
}
button:hover{
    background-color: orange;
    color: white;

}
.Fundo-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cadastrar{
    background-color: #654fa5;
    padding: 10px 30px;
    color: white;
    border-radius: 30px;
    margin-bottom: 15px;
}
.sabermais{
    color: #654fa5;
    background-color: white;
    padding: 10px 30px;
    border: 1px solid #654fa5;
    border-radius: 30px;
}
.info-Unitelcode{
    display: flex;
    flex-direction: column;
    

    

}